/* create button */
.btn-add {
  border-radius: 0%;
}

/* modal design */
.modal-custom .modal-content {
  border: darkcyan 1px solid;
  border-radius: 0%;
  background: black;
}

.modal-content .modal-title {
  color: white;
}

.modal-content .modal-header {
  border-bottom: none;
}

.modal-content .close {
  color: white;
}

.modal-buttons {
  display: flex;
  justify-content: space-evenly;
}

/* download link */
.download-link {
  text-decoration: none;
  color: green;
}
